<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>boostproducts</name>
    <displayName><![CDATA[Boost Products]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Boost your products on the marketplace to increase visibility.]]></description>
    <author><![CDATA[Innovtech Engineering]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>